Django
Pillow
psycopg2-binary
djangorestframework
djangorestframework-simplejwt
PyJWT
django-filter
celery[redis]
django-celery-results
django-celery-beat
redis
python-dotenv
gunicorn
drf-spectacular[sidecar]
django-cors-headers